<?xml version="1.0"?>
<config>
    <modules>
        <SP_FeaturedProducts>
            <version>0.1.1</version>
        </SP_FeaturedProducts>
    </modules>
    <global>
        <blocks>
            <sp_featuredproducts>
                <class>SP_FeaturedProducts_Block</class>
            </sp_featuredproducts>
        </blocks>
        <helpers>
            <sp_featuredproducts>
                <class>SP_FeaturedProducts_Helper</class>
            </sp_featuredproducts>
        </helpers>
        <models>
            <sp_featuredproducts>
                <class>SP_FeaturedProducts_Model</class>
                <resourceModel>sp_featuredproducts_resource</resourceModel>
            </sp_featuredproducts>
            <sp_featuredproducts_resource>
                <class>SP_FeaturedProducts_Model_Resource</class>
                <entities>
                    <featured>
                        <table>sp_featured_products</table>
                    </featured>
                </entities>
            </sp_featuredproducts_resource>
        </models>
        <index>
            <indexer>
                <sp_featured_products>
                    <model>sp_featuredproducts/indexer_featured</model>
                </sp_featured_products>
            </indexer>
        </index>
        <resources>
            <sp_featuredproducts_setup>
                <setup>
                    <module>SP_FeaturedProducts</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sp_featuredproducts_setup>
            <sp_featuredproducts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sp_featuredproducts_write>
            <sp_featuredproducts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sp_featuredproducts_read>
        </resources>
    </global>
</config> 